body {
    background-color: var(--background-color);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--advice-card-color);
    padding: 23px;
    width: 650px;
    height: 400px;
    border-radius: 15px;
}

.card .advice-id {
    color: var(--advice-dice-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    font-size: 17px;
    margin-top: 35px;
}

.card .advice {
    color: white;
    font-size: 35px;
    padding: 23px;
    text-align: center;
    margin-bottom: 17px;
}

.card .advice-update {
    transform: translateY(80%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: var(--advice-dice-color);
}

.card .advice-update:hover {
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px var(--advice-dice-color);
}
